body {
    background-color: #de1515;
    color: white;
    margin-top: 32px;
    margin-left: 44px;
    padding: 12px 12px 12px 12px;
    font-family: Arial;
}

img {
	height: 250px;
	width: 250px;
}
